@use './partials/_mixins.scss' as *;
@use './partials/variables' as *;
@import "bootstrap/scss/bootstrap";
@import '../../node_modules/@fortawesome/fontawesome-free/css/all.min.css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
}

body {
    background-color: $dark;
}

i {
    cursor: pointer;
}

.my-container {
    @include my-container
}

.small-text {
    font-size: $small
}

h3 {
    color: white;
    text-shadow: 0px 0px 20px black;
}

ul {
    list-style-type: none;
}